{% load static %}

<!doctype html>
<html lang="en">
  <head>
{% include 'headeradmin.html' %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
  </head>
  <body>
{% include 'nav2admin.html' %}
    <br><br><br>

    <div class="container">
      <div class="col-sm-12">
        <h4 class="text-center alert alert-dark mt-2">Enquiries</h4>
        <div class="table_scroll" >
        <table class="table table-hover" >
            {% if dt %}
            <thead>
              <tr style="background-color: rgb(3, 74, 116);">
                <th scope="col" class="text-center text-white">Sr.No</th>
                <th scope="col" class="text-center text-white">Name</th>
                <th scope="col" class="text-center text-white">Email</th>
                <th scope="col" class="text-center text-white">Subject</th>
                <th scope="col" class="text-center text-white">Date Time</th>
                <th scope="col" class="text-center text-white">Message</th>
                <th scope="col" class="text-center text-white">Action</th>
              </tr>
            </thead>
            <tbody>
            {% for r in dt %}
              <tr class="text-center">      
                <td>{{forloop.counter}}</td>
                <td>{{r.name}}</td>
                <td>{{r.email}}</td>
                <td>{{r.subject}}</td>
                <td>{{r.datetime}}</td>
                <td>{{r.message}}</td>
                <td><a href="#" class="btn btn-info" download> <i class="bi bi-download-square"></i> View</a></td>
               
            </form>
  
              </tr>
            {% endfor %}
    
            
            </tbody>
          </table>
        </div>
          {% else %}
          <center><h5>No Record Found</h5></center>
          {% endif %}
    </div>
    </div>
    </center>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>